#ll{
  position: absolute;
  bottom: 2rem;
  left: 2rem;
}
#rs{
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}
#spin{
    position: absolute;
    bottom: 50%;
    right: 50%;

}
#cont{
    opacity: 1;
    background-color: blue;
    width: 100%;
    height: 100%;
  }
  #centerp{
   position: relative;
  }
  #center{
    position: absolute;
    top: 0px;
    right: 0px;
  }
  .box{
    box-shadow: 1px 1px grey;
  }
  /* Clealing the line under the Signup word in login page */
  #lsu{
color: #0066ff;
text-decoration: none;
  }